doctype html
html(lang="en")
  head
    title= "Wiki Edit Monitor Query Interface"
    link(type='text/css',rel='stylesheet',href='http://192.168.1.203:8080/css/all.css')
  body
    if connectError.
      error fetching client from pool
    else
      if urlObject.query.diff
        h1
          a(href='/?title='+row.title)
            row.title
        b= "User:"
        a(href='http://'+wiki+'.wikipedia.org/wiki/User:'+row.user)
          row.user
        br
        b= "Comment:"
        i= row.comment
        br
        table(style='white-space: pre-wrap')
          if row.diff
            row.diff
          else
            tr
              td= "Empty :("
      else if urlObject.query.title
        if err.
          db error
        else if (result.rows.length === 0).
          None found! :(
        else
          h1
            a(href='http://'+wiki+'.wikipedia.org/wiki/'+title).
              (wikipedia)
          table(class='edits')
            tr
              th.
                diff id
              th.
                User
              th.
                Comment
            each row in result.rows
              tr
                td
                  a(href='?diff='+row.revnew)
                    row.revnew.toString()
                td(class='user')
                  a(href='http://'+wiki+'.wikipedia.org/wiki/User:'+row.user)
                    row.user
                td(class='comment')
                  i
                    row.comment || ""
      else if urlObject.query.errorlog
        if err.
          db error
        else if (result.rows.length === 0).
          None found! :(
        else
          h1.
            Error Log
          table(class='errorlog')
            tr
              th.
                diff
              th.
                timestamp
              th.
                type
              th.
                Title
              th.
                User
              th.
                Comment
            each row in result.rows
              tr
                td
                  if row.revnew
                    a(href='?diff='+row.revnew).
                      (logged)
                    a(href='https://'+wiki+'.wikipedia.org/w/api.php?action=query&prop=revisions&format=json&rvdiffto=prev&revids=' + row.revnew).
                      (wikipedia)
                td
                  formatDate(row.created)
                td
                  row.type
                td(class='title')
                  if row.title
                    a(href='?title='+row.title)
                      row.title
                td(class='user')
                  if row.user
                    a(href='http://' + wiki + '.wikipedia.org/wiki/User:' + row.user)
                      row.user
                td(class='comment')
                  if row.comment
                    i
                      row.comment
      else.
        Not recognized command
